body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color:darkgrey;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height:auto;
    background-color: #efefef;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 10px;
    padding: 30px;
}

.title {
    color: #2c0b8e;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.thumbContainer img {
    width: 200px;
    height: auto;

}

.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.inputSpace {
    width: 500px;
}

.css-button-sliding-to-top--blue {
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #2c0b8e;
    color: #fff;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 20px;
}

.css-button-sliding-to-top--blue2 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #2c0b8e;
    color: #2c0b8e;
    margin: 20px;
  }

  .css-button-sliding-to-top--blue:hover {
    background-color:#fff;
    border: 2px solid #2c0b8e;
    color: #2c0b8e;
  }

  .css-button-sliding-to-top--blue2:hover {
    color: #fff;
  }

  .css-button-sliding-to-top--blue:hover:after {
    height: 100%;
  }

  .css-button-sliding-to-top--blue2:hover:after {
    height: 100%;
  }
  
  .css-button-sliding-to-top--blue:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #fff;
  }

  .css-button-sliding-to-top--blue2:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #2c0b8e;
  }

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height:auto;
    background-color: #efefef;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
}

.titleHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    height: auto;
    background-color: #2c0b8e;
    border-style: solid;
    border-color: #2c0b8e;
    border-width: 2px;
    border-radius: 10px;
    color: #fff;
    padding-left: 10px;
    margin-top: 10px;
}

.titleData,.productData {
    width: 15%;
    text-align: left;
}

.titleFoto,.productThumbnail {
    width: 40%;
    text-align: center;
}

.productDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #2c0b8e;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.DataGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.productThumbnail img {
    width: 200px;
    height: auto;
}

.productButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
}

.productButtons button {
    border-style: solid;
    border-color: #2c0b8e;
    border-width: 2px;
    border-radius: 10px;
}

.productButtons button:hover {
    background-color: #2c0b8e;
    color: #fff;
}